body {
    background-color: #004656;
}


h1 { 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 24px;
}


p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
}