body {
    background-image: url(img/Yuta_Background_img_V2-02.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #f2f2f2;

}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}